<contact-send-money>
	<div class="modal fade" id="sendByContact" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{title}</h4>
				</div>
				<virtual show={formEnabled}>
					<div class="modal-body">
						<div class="send-request">
							<div class="amount-field form-group">
								<label>Amount</label>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Flash</span>
									<input id="contact-send-amount" type="text" class="form-control" placeholder='Amount' aria-describedby="basic-addon1">
								</div>
								<div show={errorMessage} class="pin-incorrect"><strong>{errorMessage}</strong></div>
							</div>
							<div class="note-field form-group">
								<label>Note</label>
								<textarea id="Note" class="form-control" type="text" cols="50" maxlength="50"></textarea>
								<p class="text-left text-danger max_tx">Max Characters 50</p>
							</div>
							<div class="text-center">
								<p><span class="_icon glyphicon glyphicon-arrow-down"></span></p>
							</div>
							<div class="info-modal">
								<div class="avatar">
									<img class="img-circle" src={opts.sendAddr.profile_pic_url ? AvatarServer + opts.sendAddr.profile_pic_url :
										'assets/images/pages/coin.png'} width="40" />
								</div>
								<div class="_info">
									<div class="name">{opts.sendAddr.display_name?opts.sendAddr.display_name:opts.sendAddr.username}</div>
									<div class="name">{opts.sendAddr.email}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button id="contact-send-bt" type="button" class="btn btn-primary" onclick={sendMoney}>Send</button>
					</div>
				</virtual>
				<virtual show={success}>
					<div class="modal-body">
						<div class="confirm-success">
							<p>Processing time: {processing_duration} second(s)</p>

							<p>Your transaction will appear in your activity tab shortly.</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</virtual>
			</div>
		</div>
	</div>
</contact-send-money>