<setuppassword>
	<header class="header-SC bg-header">
		<div class="container">
			<div class="logo col-xs-4 col-xs-5">
				<a><img src="assets/images/pages/logo.png" /></a>
			</div>
		</div>
	</header>
	<div class="change-confirm-password">
		<div class="slide-top">
			<div class="form-active container">
				<div class="col-xs-12 content-slide right" id="content-slide1">
					<h2 class="text-center">Congratulations! Your email address has been verified.</h2>
					<h4 class="text-center">One last step...</h4>
					<div class="box-change-password">
						<form id="change-password" class="col-xs-12">
							<div class="col-xs-12 col-sm-6 change-password">
								<div class="col-xs-12 form-group">
									<input id="fcpassword" class="form-control" type="password" maxlength="70" placeholder="Choose a password">
									<span id="notify-error"></span>
									<div id="strength-msg" class="pointing basic" style="color:{strengthColor}" show={strengthMsg}>
										<span>{strengthMsg}</span>
									</div>
								</div>
								<div class="col-xs-12 form-group">
									<input id="repeat_fcpassword" class="form-control" type="password" placeholder="Confirm password" onchange={onRePasswordChanged}>
									<div id="retyped-msg" class="pointing basic label" style="color:red" show={retypedMsg}>
										<span>{retypedMsg}</span>
									</div>
								</div>
							</div>

						</form>
						<div class="col-xs-12">
							<div class="col-xs-12 col-sm-6 security-question">
								<div id="sesure-msg" class="pointing basic label" style="color:red" show={sesureMsg}>
									<span>{sesureMsg}</span>
								</div>
								<div class="col-xs-12 form-group">
									<select class="form-control" id="questionA">
                                        <option value="">Security question 1</option>
                                        <option each="{question in questionsA}" value="{question}">{question}</option>
                                    </select>
								</div>
								<div class="form-group">
									<input class="form-control" id="answerA" placeholder="Your Answer">
								</div>
								<div class="col-xs-12 form-group">
									<select class="form-control" id="questionB">
                                        <option value="">Security question 2</option>
                                        <option each="{question in questionsB}" value="{question}">{question}</option>
                                    </select>
								</div>
								<div class="form-group">
									<input class="form-control" id="answerB" placeholder="Your Answer">
								</div>
								<div class="col-xs-12 form-group">
									<select class="form-control" id="questionC">
                                        <option value="">Security question 3</option>
                                        <option each="{question in questionsC}" value="{question}">{question}</option>
                                    </select>
								</div>
								<div class="form-group">
									<input class="form-control" id="answerC" placeholder="Your Answer">
								</div>
							</div>
						</div>

						<div class="create-account text-center form-group">
							<button id="btn-create-account" data-loading-text="Processing..." class="btn-create-account" type="submit" onclick={createAccount}>Create My Account</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</setuppassword>