<landing-page>
    <div class="home-page home-safecash">
        <div class="slide-top" id="slide-top">
            <img id="img-bg-slide1" class= "bg-slide1" src="assets/images/pages/home-page/background-slide1.png" width="100%">
            <div class="top-content">
                <header class="show-mobile loginForm">
                    <div class="logo-mobile"><a href="/"><img src="assets/images/pages/logo.png" /></a></div>
                    <div class="container">
                        <div class="col-xs-12 col-sm-5 logo">
                                <a href="/"><img src="assets/images/pages/logo.png" /></a>
                        </div>
                        <div class="col-xs-12 col-sm-6 pull-right">
                            <div class="col-xs-12 login-form">
                                <div class="col-xs-12 col-sm-6">
                                        <input id="identifer" type="text" class="validate form-control" placeholder="e-mail address" on-focus="email-focus">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="loginpassword" type="password" class="form-control" placeholder="password" on-enter="dologin">
                                </div>
                                <div class="btn-login form-group">
                                    <button id="btn-dologin" class="btn btn-default" onclick={onLoginButtonClick}>Login</button>
                                </div>
                            </div>
                            <div class="forgot-pwd col-xs-12" style="padding-left: 13px;">
                                <a class="foget-psd" href="javascript:void(0)" onclick={onForgotPasswordLinkClick}>Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="slide-1 signUpForm">
                    <div class="container form-active">
                        <div class="content-su row">
                            <div class="col-xs-12 col-sm-5 text-center" id="content-slide1">
                                <div class="signup-content">
                                    <h2 class="">Get A Wallet</h2>
                                    <p class="p1-line">Earn and Spend</p>
                                    <p class="p1-line">Share with Friends</p>
                                    <div show={isVerifyEmailSent} id="notify-check">
                                        <div class="ui center aligned segment">
                                            <p>We sent you an email with a link to activate your account</p>
                                            <p>Please check your email inbox/spam folder</p>
                                        </div>
                                    </div>

                                    <div hide={isVerifyEmailSent} class="box-signup" id="box-signup">
                                        <form id="sign_up_form" class="col-xs-12">
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <input class="form-control" type="text" id="firstname" maxlength="50" name="firstname" placeholder="First name" on-focus="firstname-focus">
                                                <span id="usernameValidationText" style="display:none;"></span>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <input class="form-control" type="text" id="lastname" maxlength="50" name="lastname" placeholder="Last name">
                                            </div>
                                            <div class="form-group col-xs-12">
                                                <input class="form-control text-center" type="email" id="email-signup" placeholder="Email address">
                                            </div>
                                            <div class="form-group col-xs-12">
                                                <div id="gcaptcha"></div>
                                            </div>
                                        </form>
                                        <p class="p2-line">By clicking Create Wallet, I agree to the <a href="/terms-of-service.html" target="_blank">Terms of Service</a> and <a href="/privacy-policy.html" target="_blank">Privacy Policy.</a></p>
                                        <p class="p2-line"><span class="notify">*</span><span>Sorry, not currently available to New York residents</span></p>
                                        <div class="btn-create-wallet form-group" onclick={onSignupButtonClick}> <a href="javascript:void(0)" class="btn btn-primary">Create Wallet</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="slide-2">
                <div class="container content-slide2">
                    <div class="content col-xs-12">
                        <div class="set-center">
                            <div class="col col-xs-12 col-sm-3 text-center">
                                <a href="#slide-3"><img src="assets/images/pages/home-page/flash.png" width="140"></a>
                                <h2><a href="#slide-3">Flash</a></h2>
                            </div>
                            <div class="col col-xs-12 col-sm-3 text-center">
                                <a href="#slide-publisher"><img src="assets/images/pages/home-page/publisher.png" width="140"></a>
                                <h2><a href="#slide-publisher">Publishers</a></h2>
                            </div>
                            <div class="col col-xs-12 col-sm-3 text-center">
                                <a href="#slide-advertiser"><img src="assets/images/pages/home-page/advertiser-icon.png" width="140"></a>
                                <h2><a href="#slide-advertiser">Advertisers</a></h2>
                            </div>
                            <div class="col col-xs-12 col-sm-3 text-center">
                                <a href="#slide-merchant"><img src="assets/images/pages/home-page/merchant-icon.png" width="140"></a>
                                <h2><a href="#slide-merchant">Merchants</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="content col-xs-12">
                        <div class="set-center">
                            <div class="col col-xs-12 col-sm-3 text-center">
                                <a href="#slide-7"><img src="assets/images/pages/home-page/developer.png" width="140"></a>
                                <h2><a href="#slide-7">Developers</a></h2>
                            </div>
                            <div class="col col-xs-12 col-sm-3 text-center">
                                <a href="#slide-9"><img src="assets/images/pages/home-page/crowd-sale.png" width="140"></a>
                                <h2><a href="#slide-9">Crowdsale</a></h2>
                            </div>
                            <div class="col col-xs-12 col-sm-3 text-center">
                                <a href="#slide-10"><img src="assets/images/pages/home-page/icon-whitepaper.png" width="140"></a>
                                <h2><a href="#slide-10">Whitepaper</a></h2>
                            </div>
                            <div class="col col-xs-12 col-sm-3 text-center">
                                <a href="#slide-11"><img src="assets/images/pages/home-page/faq.png" width="140"></a>
                                <h2><a href="#slide-11">FAQ</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide slide-3" id="slide-3">
                <img id="img-slide-3" src="assets/images/pages/home-page/blank.png" data-src="assets/images/pages/home-page/bg-slide3.png" width="100%">
            </div>
            <div class="slide-4 p100b">
                <div class="container">
                    <div class="group-content col-xs-12">
                        <div class="text col-xs-12">
                            <h3>FLASH is a new kind of online network that connects people with websites they enjoy and products they love by using the latest crypto coin technology.</h3>
                            <img class="pull-left" src="assets/images/pages/home-page/id-computer.png" style="padding-right: 20px;">
                            <p>FLASH members earn rewards when they participate with publishers, merchants, and advertisers. It’s easy and free to join the FLASH network by getting a FLASH wallet. </p>
                        </div>

                        <div class="text col-xs-12 m20t">
                            <p>As members collect FLASH coins they can use an exchange to trade them for bitcoins. Once they have bitcoins, they can convert them into cash or spend them with the over 40 million merchants that accept VISA/MC or using a bitpay VISA card. </p>
                        </div>
                        <div class="text col-xs-12">
                            <p>Members earn FLASHcoins by participating with online partners. Advertisers and merchants who would like to get larger volumes of FLASHcoins for their projects can purchase them on an exchange, or directly from the FLASHcoin.io web site.</p>
                            <p>Built on the strong foundation of technology pioneered by the Bitcoin community, we’ve optimized FLASH to set a new standard in fast performance and ease of use. FLASH will open new doors for applications created by independent developers using the blockchain. </p>
                            <p>Our community of developers, websites, and users are united in one goal: take the power of crypto coins mainstream by making them easy to use with social media, websites, blogs and ecommerce sites. The immediate settlement and accounting function of the FLASHcoins can be invaluable for your projects, including:</p>
                        </div>
                    </div>
                    <div class="group-content col-xs-12">
                        <ul>
                            <li><p>Advertising and promotion</p></li>
                            <li><p>Loyalty</p></li>
                            <li><p>Registration and activation for products/services</p></li>
                            <li><p>Social media incentives and rewards</p></li>
                            <li><p>Rewards for content posting</p></li>
                            <li><p>Online advertising and lead generation</p></li>
                            <li><p>Secure messaging and email</p></li>
                            <li><p>And many more...</p></li>
                        </ul>
                    </div>
                    <div class="group-content col-xs-12">
                        <p>There are many ways to get Flash coins:</p>
                        <ul>
                            <li><p>Open a new account</p></li>
                            <li><p>Refer a friend to the Flashcoin community </p></li>
                            <li><p>Build an application</p></li>
                            <li><p>Have members send you coins to use the application you developed. </p></li>
                        </ul>
                        <p>You can trade your FLASHcoins with friends, spend them with participating merchants, and in the future, you will be able to exchange them for other crypto coins. FLASH is an easy and low-risk introduction to crypto currency that costs nothing. We’ve made cryptocoins as easy as email.</p>
                    </div>
                </div>
            </div>
            <div class="slide slide-publisher" id="slide-publisher">
            <img id="img-slide-publisher" src="assets/images/pages/home-page/blank.png" data-src="assets/images/pages/home-page/publisher_bg.png" width="100%">
            </div>
            <div class="slide publisher-content">
                <div class="container">
                    <h3>FLASH publishers get more engagement, revenue and faster cash flow.</h3>
                    <div class="col-xs-12 col-sm-6">
                        <p>Online publishers today face a myriad of challenges: ad blockers, lower CPM, and intrusive page clutter have created a revenue crisis for your website. FLASH has created a solution specifically for web publishers, using our decades of combined experience to help you regain your site’s profitability. FLASHcoin Advertising Unit offers:</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="content">
                            <p><span>1 </span>A better way to monetize the ad blocker traffic you lost.</p>
                        </div>
                        <div class="content">
                            <p> <span>2 </span> Immediate payouts</p>
                            <ul>
                                <li><p> Don’t wait 30, 60, 90 days or longer</p></li>
                                <li><p> Instant revenue via FLASH and bitcoin exchange</p></li>
                                <li><p> Worldwide</p></li>
                            </ul>
                        </div>
                        <div class="content">
                            <p> <span>3 </span>A/B Testing, offers, coupons, loyalty, etc</p>
                            <ul>
                                <li><p>Connect to the customer in unprecedented ways. Market to them directly via the FLASHwallet.</p></li>
                            </ul>
                        </div>
                        <div class="content">
                            <p> <span>4 </span> Unique advertising units</p>
                            <ul>
                                <li><p> Less intrusive video advertising and native content</p></li>
                                <li><p> Roadblock standalone units the viewer can view or skip</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide slide-advertiser" id="slide-advertiser">
            <img id="img-slide-advertiser" src="assets/images/pages/home-page/blank.png" data-src="assets/images/pages/home-page/advertiser_bg.png" width="100%">
            </div>
            <div class="slide advertiser-content">
                <div class="container">
                        <div class="content col-xs-12">
                            <h3>FLASH is a great way for innovative advertisers to connect with micro-influencers, find and retain customers, and complete transactions.</h3>
                            <p>The dream of every marketer is to know exactly where and how their budgets are spent, as well as to close sales and make them viral. When you reward members with FLASH coins, you establish the path for a future relationship and have the ability to track your new connection. It starts with your creativity and our unique FLASH technology.</p>
                            <p>Standard IAB FLASHcoin advertising units deliver messages and reward coins to the member. They can be placed directly on sites or delivered through ad networks on regular pages and even to people using ad blockers.</p>
                            <p>The FLASH wallet works conveniently as a browser plugin. The viewer can see their potential payment before the advertisement begins, and can skip the advertisement if they’d like at no cost to the advertiser. Advertisers only pay for completed impressions.</p>
                            <p>Digital coins are an increasingly essential and necessary form of trade. Led by bitcoin, the community has millions of users and will become the majority of online consumers in the very near future. Wallet interaction will be a standard feature of every web site. Since FLASHcoins can be exchanged for bitcoins at any time, there are immediate benefits and utility to earning them.</p>
                            <p>With FLASH coin advertising, we help advertisers monetize a publisher’s ad blocker traffic and reach a high value market that’s challenging to reach: </p>
                        </div>
                    <div class="set-position">
                        <div class="content number number-1 col-xs-12">
                            <ul>
                                <li><p>70% of Millennials use ad blockers</p></li>
                                <li><p>Tech savvy and early adopters are likely to use FLASH</p></li>
                                <li><p>Micro-recommenders can help drive your new product launch and adoption</p></li>
                            </ul>
                        </div>
                        <div class="content number number-2 col-xs-12">
                            <p>High impact impression</p>
                            <ul>
                                <li><p> Limited advertisements appear on a user’s webpage (native content video ad unit)</p></li>
                            </ul>
                        </div>
                        <div class="content number number-3 col-xs-12">
                            <p>A/B Testing, offers, coupons, loyalty, etc</p>
                            <ul>
                                <li><p>FLASH offers direct follow up</p></li>
                            </ul>
                        </div>
                        <div class="content number number-4 col-xs-12">
                            <p>Unique Advertising units</p>
                            <ul>
                                <li><p>Non obtrusive video ad, native content</p></li>
                                <li><p>Direct follow on Messaging within FLASH wallet</p></li>
                            </ul>
                        </div>
                        <div class="content number number-5 col-xs-12">
                            <p>User has a pleasant experience and trusts you, the advertiser </p>
                            <ul>
                                <li><p>Results in repeat business</p></li>
                            </ul>
                        </div>
                    </div>
                    <p>We are testing the first generation of FLASH with innovative direct marketers and advertisers. If you would like to speak with our FLASHcoin Advertising Unit, please email <a href="mailto:support@flashcoin.io">support@flashcoin.io</a></p>
                </div>
            </div>
            <div class="slide slide-merchant" id="slide-merchant">
            <img id="img-slide-merchant" src="assets/images/pages/home-page/blank.png" data-src="assets/images/pages/home-page/merchant_bg.png" width="100%">
            </div>
            <div class="slide merchant-content">
                <div class="container">
                    <h3>Increase loyalty and customer communications to drive more sales.</h3>
                    <p>The biggest problem with loyalty programs is that customers rarely value them due to their limited utility. There are thousands of incompatible loyalty programs. With FLASH’s loyalty program, your customer can use it on any website interchangeably and convert their  FLASHcoins into bitcoins. FLASHcoins can be used for discounting, couponing, referral marketing and advertising. Your customers can earn FLASHcoins when they spend money on your website as well as earn FLASHcoins for their next purchase. If you would like to add FLASH to your site today, please contact <a href="mailto:support@flashcoin.io">support@flashcoin.io</a></p>
                </div>
            </div>
            <div class="slide slide-7" id="slide-7">
                <img id="img-slide-7" src="assets/images/pages/home-page/blank.png" data-src="assets/images/pages/home-page/bg-slide7.png" width="100%">
            </div>
            <div class="slide slide-8">
                <div class="bg-white">

                </div>
                <div class="bg-blue">
                    <div class="container">
                        <ul>
                            <li class="col-xs-12 col-sm-4 text-center">
                                <img src="assets/images/pages/home-page/img1-slide8.png" width="140">
                                <p>FLASH is a high speed, pre-mined private blockchain designed for use in accounting, loyalty, and security applications. It is legally compliant so you don’t have to spend time dealing with regulators and various agencies. We’ve reserved a portion of the pre-mined FLASHcoins to reward our valued developers. Qualified developers will receive free coins for testing and to help get started.  FLASH supports split payments to collect fees in real time as people use your application.</p>
                            </li>
                            <li class="col-xs-12 col-sm-4  text-center">
                                <img src="assets/images/pages/home-page/img2-slide8.png" width="140">
                                <p>We built the high-performance blockchain to completely confirm every transaction in under 2 seconds. We’ve load tested FLASH to up to 25,000 transactions per second. That’s about 50% of the peak load of the leading credit card system. Once the transaction is confirmed, you can immediately resend the FLASHcoin. Try that with the other blockchains!  You can see the code on github here:</p>
                                <p><a style="color:#F5F5F5" class="size-22" href="https://github.com/superflashcoin/">https://github.com/superflashcoin/</a></p>
                            </li>
                            <li class="col-xs-12 col-sm-4 text-center">
                                <img src="assets/images/pages/home-page/img3-slide8.png" width="140">
                                <p>
                                We made FLASH cloud-based and secure with a powerful API so you can focus on building your application, not running a blockchain or dealing with legal compliance. Send an email to developer at flashcoin.io today for more information.
                                </p>
                                <p><a style="color:#F5F5F5" class="size-22" href="assets/docs/FLASHWhitepaper.pdf">Check out our Whitepaper with more information on our API.</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slide-9" id="slide-9">
                <div class="container">
                    <h2 class="text-center"><img class="m15r" src="assets/images/pages/home-page/icon-crowdsale.png" width="70">Crowdsale</h2>
                    <h3 class="text-center">Become a part of something special.</h3>
                    <p class="text-center">To kick off FLASH and help our developers build a great network, we’re doing a crowdsale. Sign up for a FLASHwallet and you’ll receive more details through Bittrex.com or via email. We’re issuing 10% of the total FLASHcoins to crowdsale participants at the conclusion of the fundraising period. Please see the <a href="https://bittrex.com/">Bittrex.com</a> web site for details and the legal stuff.</p>
                    <p class="text-center">Our pre-sale or 5% of total FLASHcoins (45 billion coins) was successful with 101.22344444 BTC donated and the FLASHPRE counterparty assets have all been distributed.  The pre-sale funds were transferred on September 11, 2016 to bitcoin public address <strong>13bAfpFxVUefWEDZwbXfxjKA7mgWSsJxQY</strong></p>
                    <p class="text-center">Public record of the use of proceeds to date is available at:</p>
                    <p class="text-center"><a href="https://docs.google.com/spreadsheets/d/1L0NrX2TMdSfpriJLX8gqqEOjNGb77XpiNXrKgFlvQ1U/edit#gid=0">https://docs.google.com/spreadsheets/d/1L0NrX2TMdSfpriJLX8gqqEOjNGb77XpiNXrKgFlvQ1U/edit#gid=0</a></p>

                    <p class="text-center">Thanks, everyone who participated, we appreciate your support!</p>
                    <div class="table-responsive">
                    <table class="table table-bordered m0">
                    <thead>
                        <tr>
                            <th class="text-center">Category</th>
                            <th class="text-center">Flash Quantity (M)</th>
                            <th class="text-center">Percentage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Pre-sale</td>
                            <td class="text-right">45,000</td>
                            <td class="text-right">5%</td>
                        </tr>
                        <tr>
                            <td>Public Crowdsale</td>
                            <td class="text-right">90,000</td>
                            <td class="text-right">10%</td>
                        </tr>
                        <tr>
                            <td>End User Fund</td>
                            <td class="text-right">450,000</td>
                            <td class="text-right">50%</td>
                        </tr>
                        <tr>
                            <td>Developers Fund</td>
                            <td class="text-right">225,000</td>
                            <td class="text-right">25%</td>
                        </tr>
                        <tr>
                            <td>Contingency Fund</td>
                            <td class="text-right">90,000</td>
                            <td class="text-right">10%</td>
                        </tr>
                        <tr class="last">
                            <td>Total authorized FLASH Supply (Millions)</td>
                            <td class="text-right">900,000</td>
                            <td class="text-right">100%</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="slide-10" id="slide-10">
                <div class="container text-center">
                    <h2 class="text-center">Whitepaper</h2>
                    <p class="tu"><a href="assets/docs/FLASHWhitepaper.pdf"><button>Download our Whitepaper</button></a></p>
                </div>
            </div>
            <div class="slide-11" id="slide-11">
                <div class="container">
                    <h2 class="text-center">FAQ</h2>
                    <div class="note text-center">
                        <p class="m0">We created 900 billion FLASHcoins</p>
                        <p class="m0">Why did we make so many?</p>
                    </div>
                    <h3><p>FLASHcoins are for everybody, all 7 billion of us.</p>
                    <p>We wanted Flash to have a number of characteristics:</p></h3>
                    <ul class="number-reasons">
                        <li>
                            <p class=""><span>1. </span>Give the FLASHcoins to users and developers, not miners (since we’re pre-mined).</p>
                        </li>
                        <li class="space">
                            <p><span>2. </span>FLASHcoins can circulate widely because they are easy to get in small amounts</p>
                        </li>
                        <li class="">
                            <p class=""><span>3. </span>They will become valuable because they are useful in large amounts for advertising, marketing and other utilities.  You buy a large amount through the exchange, which creates a real sustainable model. </p>
                        </li>
                        <li class="space">
                            <p><span>4. </span>FLASHcoins will be mostly distributed within about two years, mainly to the users and developers.  Help grow the network and earn more FLASHcoins.</p>
                        </li>
                        <li class="">
                            <p><span>5. </span> The FLASHcoin supply is limited. When they are gone, transaction fees will apply (just like bitcoin). Right now we’re saying the FLASHcoins have no value, but that could change in the future.</p>
                        </li>
                    </ul>
                    <div class="faq-category">
                        <div class="box-left col-xs-12 col-sm-6">
                            <ul class="first">
                                <li>
                                    <h4 class="tu">WHY SHOULD I BUY FLASHCOINS IN THE CROWDSALE?</h4>
                                    <div class="answer-faq"><p>This is the best way to support our project so FLASH does not have to take outside money with a lot of strings attached.  When the community supports FLASH, everyone benefits.   Large volumes of coins for your project or just to keep for a rainy day can be found in the crowdsale and eventually on the Bittrex exchange.</p></div>
                                </li>
                                <li>
                                    <h4 class="tu">CAN I DO ANY MINING?  HOW CAN I EARN FREE COINS?</h4>
                                    <div class="answer-faq"><p><strong>FLASH does the mining for you in a more efficient and fast way.</strong> This saves a lot of electricity, and we think it’s better for the environment. Our <a style="color:#" class="size-22" href="assets/docs/FLASHWhitepaper.pdf">Whitepaper</a> goes through some of the technical details.  We decided to reward people who build the FLASH network, the developers and users.  There are a lot of ways to earn rewards using FLASH, such as inviting new users, creating an application that uses FLASH, etc.</p></div>
                                </li>
                            </ul>
                        </div>
                        <div class="box-right col-xs-12 col-sm-6">
                            <ul class="last">
                                <li>
                                    <h4 class="tu">DO I HAVE TO STORE MY COINS IN THE FLASH  ONLINE WALLET?</h4>
                                    <div class="answer-faq"><p>Yes. This is a permissioned private blockchain and  storing your coins in the FLASH wallet makes it easier for beginning users. We don’t actually store your key, we regenerate it from your password when you login. You also have a way to recover your password. We think these are key features to make crypto more user friendly.</p></div>
                                </li>
                                <li>
                                    <h4 class="tu">WHAT CAN I DO WITH FLASH?</h4>
                                    <div class="answer-faq"><p>Beyond sending and receiving FLASHcoins, you can develop applications, participate in rewarding activities and make donations. The possible uses for FLASH are only limited by our members’ creativity. </p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-12" id="slide-12">
                <div class="container">
                    <div class="row-1 col-xs-12">
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/chris.png">
                            <h3>Chris Kitze</h3>
                            <p>Chief Executive Officer (CEO)</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/vinh.png">
                            <h3>Vinh Vo</h3>
                            <p>Chief Technology Officer (CTO)</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/jason.png">
                            <h3>Jason King</h3>
                            <p>Chief Marketing Officer</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                    </div>
                    <div class="row-1 col-xs-12">
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/hung.png">
                            <h3>Henry Ta</h3>
                            <p>Cryptographer, researcher, scientist</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/logan.png">
                            <h3>Logan Bauer</h3>
                            <p>Senior Network Engineer</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/ntrung.png">
                            <h3>David Trung</h3>
                            <p>Block Chain Lead Developer</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                    </div>
                    <div class="row-1 col-xs-12">
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/tai.png">
                            <h3>Tai Nguyen</h3>
                            <p>Network Researcher</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/son.png">
                            <h3>Shawn Tran</h3>
                            <p>Backend Lead Developer</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/kang.png">
                            <h3>Jeff Trung</h3>
                            <p>Client Lead Developer</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                    </div>
                    <div class="row-1 col-xs-12">
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/ba.png">
                            <h3>Ba Ban</h3>
                            <p>Web Application Developer</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/loc.png">
                            <h3>William Chu</h3>
                            <p>Web Application Developer</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/minh.png">
                            <h3>Dawn V Nguyen</h3>
                            <p>QA Manager</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                    </div>
                    <div class="row-1 col-xs-12">
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/dung.png">
                            <h3>Stella Hoang</h3>
                            <p>FrontEnd Web Developer</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center text-uppercase">
                        <img src="assets/images/pages/home-page/img-members/bao.png">
                            <h3>Amily Le</h3>
                            <p>Designer</p>
                            <img class="m20t" src="assets/images/pages/home-page/border-bottom.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-backtop text-center">
                <a id="back-to-top"><img src="assets/images/pages/home-page/arrowup.png" width="45px"></a>
                <p class="m10t">BACK TO TOP</p>
            </div>
        </div>
        <a id="create-wallet-btn" class="btn create-wallet-btn">reate Wallet</a>
        <footer class="footer col-xs-12">
            <div class="container text-center">
                <ul>
                    <li><a href="terms-of-service.html" target="_blank">Terms of Service</a></li>
                    <li><a href="privacy-policy.html" target="_blank">Privacy Policy</a></li>
                    <li><a href="support.html" target="_blank">Support</a></li>
                    <li><a href="contact.html" target="_blank">Contact</a></li>
                </ul>
                <p><img src="assets/images/pages/home-page/flag-footer.png" width="" class="m15r" />Copyright (c) 2016 Flashnet Tech, Inc. Montreal, Canada.  All Rights Reserved.  Flash is a trademark of Flashnet Tech, Inc.</p>
            </div>
        </footer>
    </div>
</landing-page>