<enable-account>
	<header class="header-SC bg-header">
		<div class="container">
			<div class="logo col-xs-4 col-xs-5">
				<a><img src="assets/images/pages/logo.png" /></a>
			</div>
		</div>
	</header>
	<div show={showErrorMessage} class="form-common">
		<h3>Invalid or Expired Token!</h3>
		<h4>We couldn't enable your account.</h4>
	</div>
	<div show={showSuccessMessage} class="form-common form-change-password">
		<h3>Your Account is enabled!</h3>
		<div> Click here to <a href="index.html">login</a></div>
	</div>
</enable-account>