<twofa-recommend-dialog>
	<div class="modal fade" id="verifyPinDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><strong>2-step Verification</strong></h4>
					<div>
						<img src="assets/images/pages/img-barcode.png">
						<p><strong>Your account doesn’t have additional phone security yet, we highly recommend you add it.  To add this feature, click here</strong></p>
					</div>
				</div>
				<div class="modal-body">
					<div class="col-xs-12"><button type="button" class="col-xs-12 btn btn-primary" style="padding: 6px 12px;" onclick={onOk}>OK</button></div>
					<label><input type="checkbox" value="">Don't show this dialog again22</label>
				</div>
			</div>
		</div>
	</div>
</twofa-recommend-dialog>