<fountain-setting>
    <div class="fountain-content box-content">
            <div class="col-xs-12">
                <p><label>Amount of Flash tokens given to each person per period</label></p>
                <div class="form-group">
                    <input class="form-control" id="amount" on-keypress="filter-number-edit" type="text" value="{formatAmountInput(settings.amount)}" disabled={this.disabled}>
                </div>
                <p><label>Period for visitor to receive reward tokens once <i>(Minimum period is 10  minutes)</i></label></p>
                <div class="form-input">
                    <div class="form-group col-xs-12 col-sm-6">
                        <input class="form-control" id="duration" on-keypress="filter-number-edit" type="text" value="{formatAmountInput(duration)}" disabled={this.disabled}>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <select id="time-unit" class="compact selection dropdown form-control" value='{selectedTimeUnit}' disabled={this.disabled}>
                            <option value=3600 selected="{isHourUnit}">Hours</option>
                            <option value=60 selected="{isMinuteUnit}">Minutes</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p>Message/Transaction Note to Fountain Visitors</p>
                <textarea class="form-control" id="memo" value="{settings.message}" maxlength="50" disabled={this.disabled}></textarea>
                <p class="text-left text-danger max_tx">Max Characters 50</p>
            </div>
            <div class="form-group">
                <p>
                    <label>
                        List URL's of pages allowed to host your fountain, as specific as possible to protect it from abuse, separated by comma, e.g. site1.com/web2, site3.com/web4,...
                    </label>
                </p>
                <textarea class="form-control" id="domains" value="{settings.domainStr}" disabled={this.disabled}></textarea>
            </div>

            <div if={fountain.enabled}>
                <div class="form-group btn-fountain">
                    <button id="update-domain" class="btn btn-primary" onclick={updateFountain}>Update Parameters</button>
                    <button id="disable-fountain" class="btn btn-default" onclick={disableFountain}>Turn off Fountain</button>
                </div>
                <div class="form-group">
                    <p>
                        <label>Please copy the following code and paste it right after the opening tag of the fountain hosting page's source code</label>
                    </p>
                    <pre><code>&lt;script type=&quot;text/javascript&quot; src=&quot;https://fountain.safe.cash/public/dist/unity-sdk.js&quot;&gt;&lt;/script&gt;</code></pre>
                </div>
                <div class="form-group">
                    <p>
                        <label>Please copy the following code and paste it into the fountain hosting page's source code where you want to display the fountain</label>
                    </p>
                    <pre><code>&lt;div fountain=&quot;{fountain.fountain_id}&quot; title=&quot;FLASH Fountain&quot; sub-title=&quot;&quot; submit-button-label=&quot;&quot; register-button-label=&quot;registerLabel&quot; data-is=&quot;unity-fountain&quot; riot-tag=&quot;unity-fountain&quot;&gt;&lt;/div&gt;</code></pre>
                </div>
            </div>
            <div if={!fountain.enabled}>
                <button id="enable-fountain" class="btn btn-primary" onclick={enableFountain}>
                    Turn on Fountain
                </button>
            </div>
        </div>
    </div>
</fountain-setting>
