<security-question>
	<div class="change-confirm-password">
		<div class="slide-top">
			<div class="form-active container">
				<div class="col-xs-12 content-slide right" id="content-slide1">
					<h2 class="">Set your security questions/answers</h2>
					<div class="box-change-password">
						<div class="col-xs-12">
							<div class="col-xs-12 col-sm-6 security-question">
								<div id="sesure-msg" class="pointing basic label" style="color:red" show={sesureMsg}>
									<span>{sesureMsg}</span>
								</div>
								<div class="col-xs-12 form-group">
									<select class="form-control" id="questionA">
                                        <option value="">Security question 1</option>
                                        <option each="{question in questionsA}" value="{question}">{question}</option>
                                    </select>
								</div>
								<div class="form-group">
									<input class="form-control" id="answerA" placeholder="Your Answer">
								</div>
								<div class="col-xs-12 form-group">
									<select class="form-control" id="questionB">
                                        <option value="">Security question 2</option>
                                        <option each="{question in questionsB}" value="{question}">{question}</option>
                                    </select>
								</div>
								<div class="form-group">
									<input class="form-control" id="answerB" placeholder="Your Answer">
								</div>
								<div class="col-xs-12 form-group">
									<select class="form-control" id="questionC">
                                        <option value="">Security question 3</option>
                                        <option each="{question in questionsC}" value="{question}">{question}</option>
                                    </select>
								</div>
								<div class="form-group">
									<input class="form-control" id="answerC" placeholder="Your Answer">
								</div>
								<div class="create-account form-group text-center">
									<button id="btn-submit" data-loading-text="Processing..." class="btn-create-account" type="submit" onclick={checkSecureQuestion}>Submit</button>
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>
	</div>
</security-question>