<share-coin>
<div class ="container col-xs-12">
	<div class ="my-share-code col-sm-9 col-xs-12" >
		<div class="form-input">
			<div class="form-group col-xs-12 col-sm-6">
				<h3 >{getText('wallet_share_my_share_code')}</h3>
				<input class="form-control col-xs-6" id="mysharecode" type="text" disabled="true">
			</div>
			<div class="form-group col-xs-12 col-sm-6">
                <h3 class="flash-share-heading">{getText('wallet_share_my_share_percent')}</h3>
                <input class="form-control txn-share" id="txnshare-percent" type="text" >
			</div>
			<div class=" col-xs-12 ">
				<button type="button" class="btn btn-primary" id="generate-sharecode" onclick={generateMyShareCode} show={showGenerateButton}>{getText('common_generate_label')}</button>
				<button type="button" class="btn btn-default" id="copy-sharecode" onclick={copyMyShareCode} show={showCopyButton}>{getText('common_copy_label')}</button>
			</div>
		</div>
		<div class="form-address col-xs-12" id="address-to-pay" show={showAddressForm}>
		  <div class= "col-xs-12 row0">
			<span class="col-xs-6 flash-desc">{getText('wallet_share_flash_address')}</span>
			<span class="col-xs-1 flash-desc-percent">%</span>
			<span class="col-xs-4 flash-desc-remark">{getText('wallet_share_remark')}</span>
		  </div>
		  <div class= "col-xs-12 address-row  row1">
			<input type="text" id="share-address1" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent1" class="share-percent col-xs-1" value="0">
			<input type="text" id="remark1" class="sharecoin-remarks col-xs-4">
		  </div>
		  <div class= "col-xs-12 address-row  row2">
			<input type="text" id="share-address2" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent2" class="share-percent col-xs-1" value="0">
			<input type="text" id="remark2" class="sharecoin-remarks col-xs-4" >
		  </div>
		  <div class= "col-xs-12 address-row  row3">
			<input type="text" id="share-address3" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent3" class="share-percent col-xs-1" value="0">
			<input type="text" id="remark3" class="sharecoin-remarks col-xs-4">
		  </div>
		  <div class= "col-xs-12 address-row  row4">
			<input type="text" id="share-address4" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent4" class="share-percent col-xs-1" value="0">
			<input type="text" id="remark4" class="sharecoin-remarks col-xs-4">
		  </div>
		  <div class= "col-xs-12 address-row  row5">
			<input type="text" id="share-address5" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent5" class="share-percent col-xs-1" value="0">
			<input type="text" id="remark5" class="sharecoin-remarks col-xs-4">
		  </div>
		  <div class= "col-xs-12 address-row  row6">
			<input type="text" id="share-address6" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent6" class="share-percent col-xs-1" value="0">
			<input type="text" id="remark6" class="sharecoin-remarks col-xs-4">
		  </div>
		  <div class= "col-xs-12 address-row  row7">
			<input type="text" id="share-address7" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent7" class="share-percent col-xs-1" value="0">
			<input type="text" id="remark7" class="sharecoin-remarks col-xs-4">
		  </div>
		  <div class= "col-xs-12 address-row  row8">
			<input type="text" id="share-address8" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent8" class="share-percent share-percent col-xs-1" value="0">
			<input type="text" id="remark8" class="sharecoin-remarks col-xs-4">
		  </div>
		  <div class= "col-xs-12 address-row  row9">
			<input type="text" id="share-address9" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent9" class="share-percent share-percent col-xs-1" value="0">
			<input type="text" id="remark9" class="sharecoin-remarks col-xs-4">
		  </div>
		  <div class= "col-xs-12 address-row  row10">
			<input type="text" id="share-address10" class="col-xs-6 sharecoin-address"> 
			<input type="text" id="share-percent10" class="share-percent share-percent col-xs-1" value="0">
			<input type="text" id="remark10" class="sharecoin-remarks col-xs-4">
		  </div>
		  <div>
			<button type="button" class="btn btn-primary btn-submit-update" id="edit-address" onclick={updateSharecodeRecords} show={showUpdateButton}>{getText('common_update_label')}</button>
			<button type="button" class="btn btn-primary btn-submit-update" id="submit-address" onclick={submitAddressDetail} show={showSubmitAddressButton}>{getText('common_submit_label')}</button>
		  </div>
		</div>
	</div>
	<div class="payout-share-code  col-sm-3 col-xs-12">
		<h3 class="title">{getText('wallet_share_payout_code')}</h3>
		<div class="form-group col-xs-12 col-sm-12">
            <input class="form-control" id="mypayoutcode" type="text" maxlength="6" >
		</div>
		<div class="col-xs-12 col-sm-12">
            <button type="button" class="btn btn-primary" id="update-payoutcode" onclick={submitPayoutCode} show={showSubmitPayoutButton}>{getText('common_addcode_label')}</button>
            <button type="button" class="btn btn-primary" id="remove-payoutcode" onclick={removePayoutCode} show={showRemovePayoutButton}>{getText('common_remove_label')}</button>
		</div>
	</div>
</div>
</share-coin>