<mobile-login>
    <div class="home-page home-safecash">
        <div class="slide-top" id="slide-top">
            <div class="top-content">
             <div class="btn-newpage col-xs-12"><p class="pull-right"><a href="https://explorer.flashcoin.io" target="_blank">Explorer</a> | <a href="https://charts.flashcoin.io/" target="_blank">Charts</a></p></div>
                <header class="show-mobile loginForm">
                    <div class="logo-mobile">
                        <a href="/"><img src="assets/images/logo.png" /></a>
                    </div>
                    <div class="container">
                        <div class="col-xs-12 pull-right">
                            <div class="col-xs-12 login-form">
                                <div class="col-xs-12">
                                    <input id="identifer" type="text" class="validate form-control" placeholder="e-mail address" onkeydown={onKeydown}>
                                </div>
                                <div class="col-xs-12">
                                    <input id="loginpassword" type="password" class="form-control" placeholder="password" onkeydown={onKeydown}>
                                </div>
                                <div class="btn-login form-group">
                                    <button id="btn-dologin" class="btn btn-default" onclick={onLoginButtonClick}>{getText('common_login_label')}</button>
                                </div>
                            </div>
                            <div class="forgot-pwd col-xs-12" style="padding-left: 13px;">
                                <a class="foget-psd" href="javascript:void(0)" onclick={onForgotPasswordLinkClick}>{getText('common_continue_forgotpassword')}</a>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    <a id="button-crowdsale" class="btn btn-crowdsale" href="https://bittrex.com/crowdfund/Mega" target="_blank" rel="noopener noreferrer">{getText('button_crowdsale_label')}</a>
    <footer class="footer home-footer col-xs-12">
        <div class="container text-center">
            <ul>
                <li><a href="support.html" target="_blank">{getText('footer_label_support')}</a></li>
                <li><a href="contact.html" target="_blank">{getText('footer_label_contact')}</a></li>
            </ul>
        </div>
    </footer>
    </div>
</mobile-login>