<transaction-details>
	<div class="modal fade" id="txDetailDlg" tabindex="-1" role="dialog">
		<div class="modal-dialog transaction-detail" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Transaction Details</h4>
				</div>
				<div class="modal-body">
					<div class="listItems">
						<div class="name-item">Date/Time</div>
						<div class="data-item"> {getDisplayDateTime(meta.created_ts)}</div>
					</div>
					<div class="listItems">
						<div class="name-item">
							<div class="avatar">
								<img class="img-circle" src="{meta.sender_profile_pic_url ? AvatarServer + meta.sender_profile_pic_url :
									'assets/images/pages/coin.png'}" width="40" height="40" show={meta.type==2 }>
								<img class="img-circle" src="{meta.receiver_profile_pic_url ? AvatarServer + meta.receiver_profile_pic_url :
									'assets/images/pages/coin.png'}" width="40" height="40" show={meta.type==1 }>
							</div>
						</div>
						<div class="data-item">
							<div class="item">
								<div class="title">{meta.type==2 ? 'Name': 'Recipient'}: &nbsp;
								</div>
								<div class="data">
									<span>{meta.type == 2 ? (meta.sender_display_name ? meta.sender_display_name : meta.sender_public_address) : (meta.receiver_display_name
										? meta.receiver_display_name : meta.receiver_public_address)}</span>
								</div>
							</div>
							<div class="item">
								<div class="title">Email:</div>
								<div class="data">
									<p> {meta.type == 2 ? (meta.sender_email?meta.sender_email:'Anonymous') : (meta.receiver_email?meta.receiver_email:'Anonymous')}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="listItems">
						<div class="name-item">Amount</div>
						<div class="data-item"><b>{meta.type == 2 ? '+' : '-'}&nbsp;{formatCurrency(decimalFormat(satoshiToFlash(txnDetail.amount.toString())))}&nbsp;</b></div>
					</div>
					<div class="listItems" show={meta.type==1}>
						<div class="name-item">Fee</div>
						<div class="data-item">&nbsp;{formatCurrency(decimalFormat(satoshiToFlash(txnDetail.fee)))}&nbsp;</div>
					</div>
					<div class="listItems">
						<div class="name-item">Note</div>
						<div class="data-item">
							<p class="_value_attr form-control">{meta.memo}</p>
						</div>
					</div>
					<div class="listItems">
						<div class="name-item">ID</div>
						<div class="data-item">
							<p class="_value_attr form-control">{meta.transaction_id}</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</transaction-details>