/*Media Responsive*/
@media only screen and (max-width: 1040px) {
    #footer-bar{
        position: static;
    }
}
@media only screen and (max-width: 1024px) {
    .listItems .col-status{
        min-width: 80px;
        padding: 0 10px;
    }
    .listItems .item.col-note{
        padding: 0 15px;
    }
}

@media only screen and (max-width: 980px) {
    .header-SC .hidden-tablet{
        display: none;
    }
    .listItems .item {
         padding: 0 5px;
    }
    .listItems .item .text-long {
        overflow: hidden;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
        /* max-width: 100%; */
    }
    .listItems .item._mobile_amount{
        padding: 0 15px;
    }
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 780px) {
}

@media only screen and (max-width: 768px) {
    .container{
        width: auto !important;
    }
    .myaccount-page .avatar #file {
        font-size: 9.5pt;
    }
    .hidden-768{display: none !important;}
    .header-SC .header-right .email-account{
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}
@media only screen and (max-width: 767px){
    /*Common Page*/

@-webkit-keyframes my {
     0% { color: #F8CD0A; }
     50% { color: #555;  }
     100% { color: #F8CD0A;  }
 }
 @-moz-keyframes my {
     0% { color: #F8CD0A;  }
     50% { color: #555;  }
     100% { color: #F8CD0A;  }
 }
 @-o-keyframes my {
     0% { color: #F8CD0A; }
     50% { color: #555; }
     100% { color: #F8CD0A;  }
 }
 @keyframes my {
     0% { color: #F8CD0A;  }
     50% { color: #555;  }
     100% { color: #F8CD0A;  }
 }
    .notify-disconnect{top: 52px}
    .listItems{
        min-height: 60px;
    }
    .listItems .item{
        max-width: 100%;
        padding: 0 0 0 10px;
    }
    .listItems .item .username {
         padding-left: 0px;
    }
    .pending-page .listItems .item,
    .transaction-activity .listItems .item{
        display: block;
        max-width: 100%;
    }
    .listItems .item._mobile_amount{
        line-height: 39px;

    }
    .bg-mobile{
        background: url("../images/splash2.png") no-repeat;
        background-size: 100%;
    }
    #main{
        box-shadow: none;
      background: #f9f9f9;
    }
    .navbar-sc ul li a .orange-circle{
        position: static;
        margin-left: 10px;
    }
    .hidden-mobile{display:none;}
    .date-activity-form,
    .date-pending-form{
        position: static;
        z-index: 100;
        background: #fff;
        padding: 8px;
        border: 1px solid #ccc;
        box-shadow: 0px 1px 5px #ccc;
        border-radius: 4px;
        top: 20px;
    }
    .main-container .main-content{
        padding: 0 0 70px 0;
        box-shadow: none;
        border: none;
    }
    .main-container .request-page .main-content,
    .main-container .send-page .main-content{
        background: transparent;
    }
    .modal-body .wallet-name {
        max-width: 200px;
    }
    #confirm-send-money .modal-dialog,
    #confirm-send-money .modal-dialog{
            width: 80%;
    }
    .btn-control{
        float: right;
    }
    .myaccount-page .main-content{
        background: #fff;
    }
    .myaccount-page #btnZoomOut,
    .myaccount-page #btnZoomIn{
        font-size: 17pt;
        padding: 5px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #0e76bc;
        background: #eee;
        margin: 0 2px;
        cursor: pointer;
    }

    .myaccount-page #btnZoomOut i,
    .myaccount-page #btnZoomIn i{
         top: 3px;
    }
    .transaction-detail .listItems .name-item, .pending-transaction-detail .listItems .name-item{
        min-width: 75px;
    }
    /*============*/
    #header-top-bar{
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .title-page{
        margin-top: 30px;
    }
    .header-SC{
        height: 65px;
        margin: 0;
        line-height: 55px;
        position: relative;
        padding-top: 10px;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .main-container{
        padding-top: 60px;
    }
    .header-SC .navbar-toggle{
        padding: 5px 6px;
        margin-top: 15px;
    }
    .header-SC .navbar-default{
        max-height: 55px;
    }
    .header-SC .navbar{
        line-height: 57px;
        padding: 0 15px;
        margin: 0;
        height: 57px;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
    }
    .header-SC .logo img{
        max-width: 155px;
    }
    .header-SC .top-balance {
        position: absolute;
        width: auto;
        white-space: nowrap;
        margin-left: 0;
        text-align: right;
        right: 0;
    }
    .navbar-sc.active{
        margin-left: 0;
        visibility: visible;
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-duration: 0.5s;

    }
    .navbar-sc .account{
        padding: 17px 15px 10px;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
    line-height: 40px;
    }
    .navbar-sc{
        position: fixed;
        width:265px;
        top: -7px;
        background: none;
        bottom: 0;
        background: #fff;
        visibility: hidden;
        margin-left: -266px;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        overflow: auto;
        z-index: 100;
    }
    .navbar-sc .container{
        padding: 0;
    }
    .overlay-screen{
        position: fixed;
        top: 0;
        right: 0%;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.36);
        display: none;
        z-index: 15;
    }
    .navbar-sc .navbar-nav{
        margin: 0;
        margin-left: -1px;
    }
    .navbar-sc ul li a{
        background: #fff;
        color: #555;
        padding: 12px 15px 12px 50px;
        letter-spacing: 1px;
    }
    .navbar-sc ul li.active a {
        /*background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #72C6FF), color-stop(1, #419EE5) );*/
        /*background: -moz-linear-gradient( center top, #72C6FF 5%, #419EE5 100% );*/
        /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72C6FF', endColorstr='#419EE5');*/
        /*background-color: #1e62d0;*/
        background-color: #519EE0;
        color: #fff;
    }
    .navbar-sc ul li a:hover, .navbar-sc ul li a:focus{
        color: #fff;
        /*background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #72C6FF), color-stop(1, #419EE5) );*/
        /*background: -moz-linear-gradient( center top, #72C6FF 5%, #419EE5 100% );*/
        /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72C6FF', endColorstr='#419EE5');*/
        background-color: #519EE0;
    }
    .navbar-sc ul li a .glyphicon-refresh{
        transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        font-size: 12pt;
        padding-right: 20px;
        top: 4px;
    }
    .navbar-sc li.logout{
        display:block;
    }
    .navbar-sc li#activity a{
        background: url("../images/pages/icon_activity.png") no-repeat 17px center;
        background-size: 19px 22px;
    }
    .navbar-sc li#activity:hover a,
    .navbar-sc li.active#activity a{
        background: #519EE0 url("../images/pages/icon_activity_w.png") no-repeat 17px center;
        background-size: 19px 22px;
    }
    .navbar-sc li#send a{
        background: url("../images/pages/icon_send.png") no-repeat 15px center;
        background-size: 21px 21px;
    }
    .navbar-sc li#send:hover a,
    .navbar-sc li.active#send a{
        background: #519EE0 url("../images/pages/icon_send_w.png") no-repeat 15px center;
        background-size: 21px 21px;
    }
    .navbar-sc #request a{
        background: url("../images/pages/icon_request.png") no-repeat 15px center;
        background-size: 21px 21px;
    }
    .navbar-sc li#request:hover a,
    .navbar-sc li.active#request a{
        background: #519EE0 url("../images/pages/icon_request_w.png") no-repeat 15px center;
        background-size: 21px 21px;
    }
    .navbar-sc #pending a{
        background: url("../images/pages/icon_pending.png") no-repeat 15px center;
        background-size: 23px 24px;
    }
    .navbar-sc #pending:hover a,
    .navbar-sc li.active#pending a{
         background: #519EE0 url("../images/pages/icon_pending_w.png") no-repeat 15px center;
        background-size: 23px 24px;
    }
    .navbar-sc #contacts a{
        background: url("../images/pages/icon_contact.png") no-repeat 15px center;
        background-size: 20px 20px;
    }
    .navbar-sc #contacts:hover a,
    .navbar-sc li.active#contacts a{
        background: #519EE0 url("../images/pages/icon_contact_w.png") no-repeat 15px center;
        background-size: 20px 20px;
    }
    .navbar-sc #profile a{
        background: url("../images/pages/icon_profile.png") no-repeat 15px center;
        background-size: 21px 21px;
    }
    .navbar-sc #profile:hover a,
    .navbar-sc li.active#profile a{
        background: #519EE0 url("../images/pages/icon_profile_w.png") no-repeat 15px center;
        background-size: 21px 21px;
    }
    .myaccount-page .flex-pc{
        display: block;
    }
    .myaccount-page .fountain-content .form-input input{width: 100%}
    .myaccount-page .avatar #file {
        font-size: 10.5pt;
    }
    /*Wiki pages*/
    .header-SC .header-right{
        position: absolute;
        left: -15px;
        z-index: 100;
        top: 35px;
        display: block;
        width: 200px;
    }
    ul.desktop-menu{
        width: 200px;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 0px 1px 9px #888;
        border-radius: 4px;
    }
    .form-submit-email h3,
    .form-questions h3{
        font-size: 15pt;
        min-height: 35px;
        line-height: 35px;
    }
}
@media only screen and (max-width: 736px) {
    body{padding: 0;}
    .send-page textarea,
    .request-page textarea{
        width: 100%;
    }
    .home-page .container.content-slide2{
        padding: 30px 0 100px 0;
    }
    .notifyjs-bootstrap-base{
        white-space: normal !important;
    }
    .footer,
    .create-wallet-btn{
        display: none;
    }
    #main-content{
        margin: 0;
    }
    .wiki-page #main-content{
        padding: 40px 0;
    }
    .main-container .main-content{
        padding-bottom:0;
        margin: 0;
    }
    .contact-page#main-content{
        padding-top: 65px;
    }
    .support-page .container{
        padding: 0;
    }
    .forgot-pwd-page {
        margin: 5% auto 15%;
        float: left;
        width: 100%;
        margin-top: 55px;
    }
    .form-submit-email h3, .form-questions h3{
        font-size: 12pt;
    }
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 600px) {
    .date-activity-form, .date-pending-form{
        width: 100%;
    }
}

@media only screen and (max-width: 568px) {

}

@media only screen and (max-width: 563px) {

}

@media only screen and (max-width: 549px) {
    .hidden-xs-small{
        display: none;
    }
    .myaccount-page .hidden-xs-up{
        float: left;
        margin-right: 5px;
        display: block;
        padding-bottom: 4px;
    }
    .title-page h2.title{
        font-size: 14pt;
    }
    .pagination{
        font-size: 13px;
        display: flex;
    }
    .tab-mobile{display: block;}
    .hidden-small{display: none}
    .nav-pills>li {
        width: 33.333333333333333%;
        text-align: center;
    }

    .pending-page .nav-pills>li{
        width: 50%;
    }
    #profile .container{padding: 0 5px;}
    .myaccount-page .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 5px;
    }
    .myaccount-page #tab-1,
    .myaccount-page #tab-3{
        width: 25%
    }
    .myaccount-page #tab-2{
        width: 50%
    }
    .myaccount-page .avatar button.btn-change-image{
        width: 50%;
        margin-bottom: 10px;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
        max-width: 200px;
        min-width: 200px;
        padding: 10px;
    }
    .myaccount-page .inforItems .item-data{
        width: 80%;
    }
    .myaccount-page #profile-name{
        border-bottom: 1px solid #ccc;
        height: 50px;
        line-height: 50px;
    }
     .myaccount-page #profile-name .item-data{
        overflow: hidden;
     }
    .myaccount-page .trans-name{
        font-size: 20pt;
        margin: 0;
        color: #555;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .myaccount-page .inforItems .edit-form{
        width: 100%;
    }
    .myaccount-page .new-passcode{
        width:100%;
    }
    .myaccount-page .col-xs-custom{
        width: 100%;
        float: left;
    }
}

@media only screen and (max-width: 534px) {

}

@media only screen and (max-width: 480px) {
    .nav-pills>li>a{
        min-height: 60px;
    }
    .wiki-page .support-page .title-note h2{
        font-size: 20px;
    }
    .wiki-page .support-page button{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .wiki-page footer{
        position: static;
        margin-top: 25px;
    }
    .listItems .btn-active a{
        margin-right: 35px;
    }
    .main-container{
        margin:0;
        background: #F9F9F9;
    }
    .amount-field{
        width: 100%;
    }
    .pending-transaction-detail .listItems .name-item {
        min-width: 75px;
    }
    .pending-transaction-detail .listItems .data-item .item p{
        max-width: 200px;
    }
    footer ul {
        padding: 0 20px;
        white-space: nowrap;
    }
    footer ul li{
        margin: 1px 4px;
    }
    footer ul li a, footer ul li a:hover, footer ul li a:focus {
    }
    footer p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 400px) {
    .transaction-detail .listItems .data-item .item .data{
        width: 80%;
    }
    .myaccount-page .btn-fountain button{
        width: 100%;
        margin-bottom: 15px;
        padding: 10px 12px;
    }
    .modal-body .wallet-name {
        max-width: 140px;
    }
    #confirm-send-money .modal-dialog,
    #confirm-send-money .modal-dialog {
        width: 91%;
    }
    .pending-page .listItems .btn-active a.col-cancel {
        margin-right: 0;
    }
    .pagination>li>a, .pagination>li>span{
        padding: 4px 10px;
    }
    .listItems .item._mobile_amount{
        padding: 0;
    }
    .listItems .btn-active a{
        margin-right: 25px;
    }
}

@media only screen and (max-width: 338px) {
    .listItems .item .data-long {
        max-width: 123px;
    }
    .modal-dialog {
        width: auto;
    }
    .pagination>li>a, .pagination>li>span{
        padding: 4px 9px;
    }
    .listItems .btn-active a {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 330px) {
    .modal-body .wallet-name {
        max-width: 115px;
    }
}

@media only screen and (max-width: 320px) {

}
/*=====================*/