<home-page>
    <main-header></main-header>
    <!-- Navbar-->
    <div class="overlay-screen" onclick="closeOverlay()"></div>
    <main-navbar></main-navbar>

    <div class="main-container">
        <div id="main-content"></div>
    </div>
    <footer class="footer">
        <div class="container text-center">
             <ul>
                <li><a href="terms-of-service.html" target="_blank">{getText('footer_label_service')}</a></li>
                <li><a href="privacy-policy.html" target="_blank">{getText('footer_label_policy')}</a></li>
                <li><a href="support.html" target="_blank">{getText('footer_label_support')}</a></li>
                <li><a href="contact.html" target="_blank">{getText('footer_label_contact')}</a></li>
            </ul>
            <p><img src="assets/images/flag-footer.png" width="" class="m15r" />{getText('footer_label_copyright')}</p>
        </div>
    </footer>
</home-page>
