<main-navbar>
    <div class="overlay-screen" onclick="closeOverlay()" id="mobile-overlay"></div>
    <div class="navbar-sc" id="mobile-menu-bar">
        <div class="container">
            <div class="top-menu">
                <div class="logo hidden-sm hidden-md hidden-lg">
                    <a><img src="assets/images/logo.png" /></a>
                </div>
                <div class="account hidden-sm hidden-md hidden-lg">
                    <div show={avatarUrl} class="avatar">
                        <img src={avatarUrl} alt="avatar" width="40" class="img-circle" />
                    </div>
                    <div class="email-account" title="">
                        <p>{userName}</p>
                        <p>{userEmail}</p>
                    </div>
                </div>
            </div>

            <div show={auth_version == 4} class="btn-group select-currency-container">
                <button type="button" class="btn btn-default dropdown-toggle" id="selected-currency-container" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img id="selected-currency-icon" src="assets/images/flash-icon.png">
                  <span id="selected-currency-text">FLASH</span>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                
                <ul id="select-currency" class="dropdown-menu">
                  <li data-currency="1" onclick={onCurrencySelection}>
                    <a href="#" title="Select FLASH"><img src="assets/images/flash-icon.png"><span>FLASH</span></a>
                  </li>
                  <li data-currency="2"  onclick={onCurrencySelection}>
                    <a href="#" title="Select BTC"><img src="assets/images/btc-icon.png"><span>BTC</span></a>
                  </li>
                  <li data-currency="3"  onclick={onCurrencySelection}>
                    <a href="#" title="Select LTC"><img src="assets/images/ltc-icon.png"><span>LTC</span></a>
                  </li>
                  <li data-currency="4"  onclick={onCurrencySelection}>
                    <a href="#" title="Select DASH"><img src="assets/images/dash-icon.png"><span>DASH</span></a>
                  </li>
                </ul>
            </div>
            <ul class="nav navbar-nav">
                <!--<li>
                <select class="select-currency" id="select-currency" onchange={onCurrencySelection}>
                    <option value='flashcoin'>Flash</option>
                    <option value='bitcoin'>BitCoin</option>
                </select>
                </li>-->

                <li each="{tab in tabs}" class={active: tab.isActive} show={tab.id != 'merchant-tools' || parseInt(localStorage.getItem('currency_type')) == CURRENCY_TYPE.FLASH} id={tab.id} onclick={onTabItemClick}>
                    <a href="">{tab.name}<label show="{(tab.id=='pending' && (pendingNum > 0))}" class="orange-circle">{pendingNum}</label></a>
                </li>
                <li class="logout"><a onclick={onLogoutButtonClick}><span class="glyphicon glyphicon-log-out"></span>{getText('common_logout_label')}</a></li>
            </ul>
        </div>
    </div>
</main-navbar>