<home-profile>
    <div class="main-container" style="padding-top: 15px;">
        <div class="container">
            <div class="myaccount-page">
                <div class="col-xs-12 main-content">
                    <div class="bs-action bs-action-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="tabs-togglable" class="nav nav-pills nav-tabs-responsive" role="tablist">
                            <li id="tab-1" role="presentation" class="active" onclick={onTabSelect.bind(this, 'profile')}>
                                <a href="#profile" id="profile-tab" role="tab" data-toggle="tab" aria-controls="profile" aria-expanded="true">
                                    <span class="text">Profile</span>
                                </a>
                            </li>
                            <li  id="tab-2" role="presentation" class="next" onclick={onTabSelect.bind(this, 'setting')}>
                                <a href="#account" role="tab" id="account-tab" data-toggle="tab" aria-controls="setting">
                                    <span class="text">Account Settings</span>
                                </a>
                            </li>
                            <li id="tab-3" role="presentation" class="next" onclick={onTabSelect.bind(this, 'fountain')}>
                                <a href="#fountain" role="tab" id="fountain-tab" data-toggle="tab" aria-controls="fountain">
                                    <span class="text">Fountain</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-12 flex-pc">
                        <div class="col-xs-12 col-sm-3 avatar change-avatar">
                            <div hide={isUploadingImage}>
                                <div if={userProfile.profile_pic_url}>
                                    <img if={userProfile.profile_pic_url} src="{avartarServer}{userProfile.profile_pic_url}" width="100">
                                    <p class="text-center form-group">
                                        <label class="btn-change-image btn btn-primary" on-click="on-select-image">
                                            Change Image
                                            <input type="file" id="file" accept="image/*" class="hidden"/>
                                        </label>
                                    </p>
                                </div>
                                <div hide={userProfile.profile_pic_url}>
                                    <img src="assets/images/avatar_default.png" alt="Safe Cash" title="Safe Cash" class="thumbnail avatar" width="100"/>
                                    <p class="text-center">
                                        <label class="btn btn-primary" on-click="on-select-image">
                                            Choose Image
                                            <input type="file" id="file" accept="image/*" class="hidden"/>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div if={isUploadingImage}>
                                <div class="imageBox">
                                    <div class="thumbBox text-center">
                                    </div>
                                    <div class="spinner" style="display: none">
                                        Loading...
                                    </div>
                                </div>
                                <div class="action text-center">
                                    <div class="col-xs-12 text-center" style="margin:15px 0;">
                                        <a id="btnZoomOut" on-click="zoom-out"><i class="glyphicon glyphicon-zoom-out"></i></a>
                                        <a id="btnZoomIn" on-click="zoom-in"><i class="glyphicon glyphicon-zoom-in"></i></a>
                                    </div>
                                    <button id="btnCrop" class="btn btn-primary" on-click="crop-and-save">Update Image</button>
                                    <button class="btn btn-default" style="background-color: #eee;" on-click="cancel-image">Cancel</button>
                                </div>
                                <div class="cropped"></div>
                            </div>
                            <div id="up_percent" class="text-center"></div>
                        </div>

                        <div class="col-xs-12 col-sm-9" style="padding: 0 10px;">
                            <div if={isProfile} class="profile-content box-content">
                                <div class="profile-setting">
                                    <div class="inforItems col-xs-12" id="profile-name">
                                        <div class="item-title col-xs-4 hidden-xs-small">Full name</div>
                                        <div if={!isChangingName}>
                                            <div class="item-data col-xs-6">
                                                <p class="trans-name">{userProfile.display_name}</p>
                                            </div>
                                            <div class="item-control col-xs-2 text-right">
                                                <a id="on-change-name" class="glyphicon glyphicon-edit" aria-hidden="true" on-click="on-change-name"></a>
                                            </div>
                                        </div>
                                        <div if={isChangingName} class="col-xs-8 item-data edit-form">
                                            <div class="input-group">
                                                <input class="_input profile-input form-control" maxlength="30" placeholder="{userProfile.display_name}" on-enter="on-save-name" type="text" />
                                                <div id="on-save-name" class="input-group-addon" on-click="on-save-name">
                                                    <a class="glyphicon glyphicon-ok">
                                                    </a>
                                                </div>
                                                <div id="on-calcel-name" class="input-group-addon" on-click="on-cancel-name">
                                                    <a class="glyphicon glyphicon-remove">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inforItems col-xs-12" id="profile-email">
                                        <div class="item-title col-xs-4 hidden-xs-small">Email</div>
                                        <div class="item-data col-xs-6">
                                            <p class="long-text"><span class="hidden-xs-up">Email: </span>{userProfile.email}</p>
                                        </div>
                                        <div class="item-control col-xs-2 text-right"><span class="glyphicon glyphicon-ok verified_email"></span></div>
                                    </div>

                                    <div if={isChangingPass} class="inforItems col-xs-12" id="profile-cur-password">
                                        <div class="item-title col-xs-4 hidden-xs-small">Current Password</div>
                                        <div class="item-data col-xs-8 edit-form">
                                            <div class="col-xs-custom hidden-xs-up"><span>Current Password: </span></div>
                                            <div class="input-group">
                                                <input id="currentPassword" class="_input profile-input form-control" type="password" value="{currentPassword}" />
                                                <div id="on-cancel-password" class="input-group-addon" on-click="on-cancel-password">
                                                    <a class="glyphicon glyphicon-remove">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="inforItems col-xs-12" id="profile-password">
                                        <div if={!isChangingPass}>
                                            <div class="item-title col-xs-4 hidden-xs-small">Password</div>
                                            <div class="item-data col-xs-6">
                                                <p class=""><span class="hidden-xs-up">Password: </span>
                                                    <span class="" style="vertical-align: sub;">
                                                        ******
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="item-control col-xs-2 text-right">
                                               <a id="on-change-password" class="glyphicon glyphicon-edit" aria-hidden="true" on-click="on-change-password">
                                               </a>
                                           </div>
                                       </div>

                                        <div if={isChangingPass}>
                                            <div class="item-title col-xs-4 hidden-xs-small">New Password</div>
                                            <div class="item-data col-xs-8 edit-form">
                                                <div class="col-xs-custom hidden-xs-up"><span class="">New Password: </span></div>
                                                <div class="input-group new-passcode">
                                                    <input id="newPassword" class="_input profile-input form-control" type="password" value="{newPassword}"/>
                                                    <div id="on-cancel-password" class="input-group-addon" on-click="on-cancel-password">
                                                        <a class="glyphicon glyphicon-remove"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div if={isChangingPass} class="inforItems col-xs-12" id="profile-cfrm-password">
                                        <div class="item-title col-xs-4 hidden-xs-small">Confirm New Password</div>
                                        <div class="item-data col-xs-8 edit-form">
                                            <div class="col-xs-custom hidden-xs-up"><span class="">Confirm New Password: </span></div>
                                            <div class="input-group">
                                                <input id="confirmPassword" class="_input profile-input form-control" type="password" value="{confirmPassword}"/>
                                                <div id="on-save-password" class="input-group-addon" on-click="on-save-password">
                                                    <a class="glyphicon glyphicon-ok">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="inforItems col-xs-12" id="profile-timezone">
                                        <div class="item-title col-xs-4 hidden-xs-small">Timezone</div>
                                        <div if={!isChangingTimezone}>
                                            <div class="item-data col-xs-6">
                                                <p><span class="">
                                                    {userProfile.timezone? userProfile.timezone:"----"}
                                                </span></p>
                                            </div>
                                            <div class="item-control col-xs-2 text-right">
                                                <a id="on-change-timezone" class="glyphicon glyphicon-edit" aria-hidden="true" on-click="on-change-timezone">
                                                </a>
                                            </div>
                                        </div>

                                        <div if={isChangingTimezone} class="item-data col-xs-8 edit-form">
                                            <div class="col-xs-custom hidden-xs-up"><span class="">Timezone: </span></div>
                                            <div class="input-group">
                                                <select id="time-zone" class="form-control">
                                                    <option selected="{userProfile.timezone? true:false}">
                                                        Please select your timezone
                                                    </option>
                                                    <option each={tz in timezones} selected="{userProfile.timezone == tz}" value="{tz}">
                                                        {tz}
                                                    </option>
                                                </select>
                                                <div id="on-save-timezone" class="input-group-addon" on-click="on-save-timezone">
                                                    <a class="glyphicon glyphicon-ok">
                                                    </a>
                                                </div>
                                                <div id="on-cancel-timezone" class="input-group-addon" on-click="on-cancel-timezone">
                                                    <a class="glyphicon glyphicon-remove">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div if={isSetting} class="account-content box-content">
                                <div class="items">
                                    <div>
                                        <p>Wallet Address</p>
                                    </div>
                                    <div id="qrcode"></div>
                                    <br>
                                    <p each={key in publicKeyList} class="form-control address-unit">{key.address}</p>
                                </div>
                                <div class="col-xs-12 form-group setting-account">
                                    <div class="col-xs-3">Account Type:</div>
                                    <div class="col-xs-9"><span>{accountType}</span></div>
                                </div>
                                <div class="col-xs-12 form-group setting-account">
                                    <div class="col-xs-3">Two phase authentication:</div>
                                    <div class="col-xs-9 switch-button">
                                        <label class="switch">
                                          <input type="checkbox" checked="{userProfile.totp_enabled === 1}" on-click="toogleTFA">
                                          <div class="slider round"></div>
                                        </label>
                                    </div>
                                </div>
                                <div if={totpTurningOn} class="enable-google">
                                    <h3>Enable Google Authenticator</h3>
                                    <div class="gui-step">
                                        <ol>
                                            <li> Install Google Authenticator on your mobile</li>
                                            <li> Open the Google Authenticator app</li>
                                            <li> Tab menu, then tap "Set up account", then tap "Scan a barcode"</li>
                                            <li> Your phone will now be in a "scanning" mode. When you are in this mode, scan the barcode below
                                            </li>
                                        </ol>
                                        <div class="barcode"></div>
                                        <p>Once you have scanned the barcode, enter the 6-digit code below:</p>
                                        <div id="tfa_qrcode"></div>
                                        <br>
                                        <div class="verification-code col-xs-12 col-sm-6">
                                            <p>Verification code</p>
                                            <input class="form-control" type="text" name="" value="{googleTFACode}">
                                            <div class="button-active m10t">
                                                <button class="btn btn-primary" on-click="confirmTFACode">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div if={isFountain} class="fountain-content box-content">
                                <div if={fountainEnabled}>
                                    <div class="col-xs-12">
                                        <p><label>Amount of Flash tokens given to each person per period</label></p>
                                        <div class="form-group">
                                            <input class="form-control" id="amount" on-keypress="filter-number-edit" on-blur="amount-blur" type="text" value="{amount}">
                                        </div>
                                        <p><label>Period for visitor to receive reward tokens once <i>(Minimum period is 10  minutes)</i></label></p>
                                        <div class="form-input">
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <input class="form-control" id="duration" on-keypress="filter-number-edit" on-blur="duration-blur" type="text" value="{duration}">
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <select id="unit" class="compact selection dropdown form-control" value='{selectedTimeUnit}'>
                                                    <option value="3600" selected="{isHourUnit}">Hours</option>
                                                    <option value="60" selected="{isMinuteUnit}">Minutes</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p>Message/Transaction Note to Fountain Visitors</p>
                                        <textarea class="form-control" id="memo" value="{memo}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <label>
                                                List URL's of pages allowed to host your fountain, as specific as possible to protect it from abuse, separated by comma, e.g. site1.com/web2; site3.com/web4;...
                                            </label>
                                        </p>
                                        <textarea class="form-control" id="domains" value="{domainStr}"></textarea>
                                    </div>
                                    <div class="form-group btn-fountain">
                                        <button id="update-domain" class="btn btn-primary" on-click="update-domain">Update Parameters</button>
                                        <button id="disable-fountain" class="btn btn-default" on-click="disable-fountain">Turn off Fountain</button>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <label>Please copy the following code and paste it right after the opening tag of the fountain hosting page's source code</label>
                                        </p>
                                        <pre>
                                            <code>&lt;script type=&quot;text/javascript&quot; src=&quot;https://{hostname}/widgets/dist/unity-sdk.js&quot;&gt;&lt;/script&gt;</code>
                                        </pre>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <label>Please copy the following code and paste it into the fountain hosting page's source code where you want to display the fountain</label>
                                        </p>
                                        <pre>
                                            <code>
                                                &lt;div fountain=&quot;{fountainId}&quot; title=&quot;FLASH Fountain&quot; sub-title=&quot;&quot; submit-button-label=&quot;&quot; register-button-label=&quot;registerLabel&quot; data-is=&quot;unity-fountain&quot; riot-tag=&quot;unity-fountain&quot;&gt;&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                                
                                <div if={!fountainEnabled}>
                                    <div class="col-xs-12">
                                        <p><label>Amount of Flash tokens given to each person per period</label></p>
                                        <div class="form-group disabled">
                                            <input class="form-control" id="amount" on-keypress="filter-number-edit" on-blur="amount-blur" type="text" value="{amount}" {disabled}>
                                        </div>
                                        <p><label>Period for visitor to receive reward tokens once <i>(Minimum period is 10  minutes)</i></label></p>
                                        <div class="form-input">
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <input class="form-control" id="duration" on-keypress="filter-number-edit" on-blur="duration-blur" type="text" value="{duration}" {disabled}>
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6">
                                                <select id="unit" class="compact selection dropdown form-control" value='{selectedTimeUnit}' {disabled}>
                                                    <option value="3600" selected="{isHourUnit}">Hours</option>
                                                    <option value="60" selected="{isMinuteUnit}">Minutes</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p>Message/Transaction Note to Fountain Visitors</p>
                                        <textarea class="form-control disabled" id="memo" value="{memo}" {disabled}></textarea>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <label>
                                                List URL's of pages allowed to host your fountain, as specific as possible to protect it from abuse, separated by comma, e.g. site1.com/web2; site3.com/web4;...
                                            </label>
                                        </p>
                                            <textarea class="form-control disabled" id="domains" value="{domainStr}" {disabled}></textarea>
                                    </div>
                                    <br/>
                                    <br/>
                                    <button id="enable-fountain" class="btn btn-primary" on-click="enable-fountain">
                                        Turn on Fountain
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</home-profile>
