<home-profile>
    <div class="main-container" style="padding-top: 15px;">
        <div class="container">
            <div class="myaccount-page">
                <div class="col-xs-12 main-content">
                    <div class="bs-action bs-action-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="tabs-togglable" class="nav nav-pills nav-tabs-responsive" role="tablist">
                            <li id="tab-1" role="presentation" class="active" onclick={onTabSelect.bind(this, 'profile')}>
                                <a href="#profile" id="profile-tab" role="tab" data-toggle="tab" aria-controls="profile" aria-expanded="true">
                                    <span class="text">Profile</span>
                                </a>
                            </li>
                            <li  id="tab-2" role="presentation" class="next" onclick={onTabSelect.bind(this, 'setting')}>
                                <a href="#account" role="tab" id="account-tab" data-toggle="tab" aria-controls="setting">
                                    <span class="text">Account Settings</span>
                                </a>
                            </li>
                            <li id="tab-3" role="presentation" class="next" onclick={onTabSelect.bind(this, 'fountain')}>
                                <a href="#fountain" role="tab" id="fountain-tab" data-toggle="tab" aria-controls="fountain">
                                    <span class="text">Fountain</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-12 flex-pc">
                        <div id="profile-avatar"></div>

                        <div class="col-xs-12 col-sm-9" style="padding: 0 10px;">
                            <div show={isProfile} id="user-info"></div>
                            <div show={isSetting} id="account-setting"></div>
                            <div show={isFountain} id="fountain-setting"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</home-profile>
