<home-send>
	<div class="container">
		<div class="send-page col-xs-12 col-sm-10">
			<div class="title-page">
				<h2 class="title">Send Payment</h2>
				<p>Enter the information below to initiate a secure payment.</p>
			</div>
			<div class="col-xs-12 main-content">
				<div class="col-xs-12">
					<div class="form-group email-account">
						<label>Email/Public address</label>
						<div show={!isDesktop} class="col-xs-1 openQRcode" onclick={openQRcodeScan}>
							<span class="glyphicon glyphicon-qrcode"></span>
						</div>
						<div class="input-search-account active">
							<input type="text" class="form-control" id="to-email-id" placeholder="Search by email">
							<span class="glyphicon glyphicon-search"></span>
							<span show={isValidAddress} class="glyphicon glyphicon-ok-circle"></span>
							<div class="menu transition visible" id="list-transactions" tabindex="-1">
								<virtual show={choosingAddress}>
									<div each="{w in wallets}" class="item" onclick={chooseAddress}>
										<div class="avatar">
											<img class="ui avatar image" alt="avatar" src="{w.profile_pic_url ? avatarServer + w.profile_pic_url : 'assets/images/pages/coin.png'}">
										</div>
										<div class="email result-search">
											<p class="long-text">{w.email}</p>
											<p class="long-text">{w.display_name}</p>
										</div>
									</div>
								</virtual>
							</div>
						</div>
						<div show={emailErrorMessage} class="pin-incorrect">{emailErrorMessage}</div>
					</div>
				</div>
				<div class="form-group amount-field col-xs-6 col-sm-4">
					<label>Amount</label>
					<div class="input-group">
						<span class="input-group-addon">Flash</span>
						<input type="text" id="amount-input" min="0" step="1" class="form-control">
					</div>
					<div show={amountErrorMessage} class="pin-incorrect">{amountErrorMessage}</div>
				</div>
				<div class="form-group col-xs-12">
					<label>Note</label>
					<textarea type="text" class="form-control" id="payment-memo" placeholder="" maxlength="50"></textarea>
					<p class="text-left text-danger max_tx">Max Characters 50</p>
				</div>
				<div class="send__buttons form-group col-xs-12">
					<button type="button" class="btn btn-primary" id="continue-send-bt" data-toggle="modal" data-target="#myModal1" onclick={onContinueButtonClick}>Continue
                    </button>
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2" onclick={clearForms}>Clear</button>
				</div>
			</div>
		</div>
	</div>
</home-send>