<home-send>
	<div class="container">
		<div class="send-page col-xs-12 col-sm-10">
			<div class="title-page">
				<h2 class="title">{getText('send_payment_message')}</h2>
				<p>{getText('send_payment_desc')}</p>
			</div>
			<div class="col-xs-12 main-content">
				<div class="col-xs-12">
					<div class="col-xs-8 form-group email-account">
						<label>{getText('activity_table_header_email_pubic_address', {currencyName: getCurrencyUnitUpcase()})} </label>
						<div class="input-search-account active">
							<input type="text" class="form-control" id="to-email-id" placeholder="{getText('send_payment_email_placeholder')}">
							<span class="glyphicon glyphicon-search"></span>
							<span show={isValidAddress} class="glyphicon glyphicon-ok-circle"></span>
						</div>
						<div show={emailErrorMessage} class="pin-incorrect">{emailErrorMessage}</div>
					</div>
					<div class="col-xs-4 form-group openQRcode_container">
						<label>{getText('or_scan_qr_code')} </label>
						<div class="openQRcode" onclick={openQRcodeScan}>
							<span class="glyphicon glyphicon-qrcode"></span>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group amount-field col-xs-6 col-sm-4">
						<label>{getText('common_amount_label')}</label>
						<div class="input-group">
							<span class="input-group-addon">{getCurrencyUnit()}</span>
							<input type="text" id="amount-input" min="0" step="1" class="form-control">
						</div>
						<div show={amountErrorMessage} class="pin-incorrect">{amountErrorMessage}</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group amount-field col-xs-6 col-sm-4">
						<label>{getText('common_tx_fee_label')}</label>
						<div class="input-group">
							<span class="input-group-addon">{getCurrencyUnit()}</span>
							<input readonly type="text" id="fee-input" min="0" step="1" class="form-control">
						</div>
						<div show={amountErrorMessage} class="pin-incorrect">{amountErrorMessage}</div>
					</div>
				</div>
				<div class="form-group col-xs-12">
					<label>Note</label>
					<textarea type="text" class="form-control" id="payment-memo" placeholder="" maxlength="50"></textarea>
					<p class="text-left text-danger max_tx">{getText('common_max_tx_note_character')}</p>
				</div>
				<div class="send__buttons form-group col-xs-12">
					<button type="button" class="btn btn-primary" id="continue-send-bt" data-toggle="modal" data-target="#myModal1" onclick={onContinueButtonClick}>{getText('common_continue_label')}
                    </button>
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2" onclick={clearForms}>{getText('common_clear_label')}</button>
				</div>
			</div>
		</div>
	</div>
</home-send>