/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

#slider {
  background: url('../../images/bg_hero.png') no-repeat center right;
  background-size: cover;
}

#about {
/*  background: url('../../images/bg_section-about.jpg') scroll no-repeat top/cover;
  padding-top: 80px;
  min-height: 700px;
  */
}

#wallet {
  background: url('../../images/bg_section-wallet.png') scroll no-repeat bottom/cover;
  min-height: 720px;
}

#whitepaper {
  background: url('../../images/bg_hero.jpg') no-repeat center right;
  background-size: cover;
}

/* Home page slider - START */
#slider .vertical-middle {
  margin-top: 0 !important;
  top: 0% !important;
}

#slider .login-form-container {
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

#slider .login-form {
  margin-top: 50px !important;
}

.main-section-image {
  padding: 0 0 30px;
}

.main-section-image img {
  width: 140px !important;
  padding: 11px;
}

.webmainpart {
    background: url('../../images/WebsiteActualBar.png?124') no-repeat bottom center;
        background-size: auto auto;
    background-size: cover;
}

#gcaptcha-for-login > div {
  margin: 0 auto;
}

#gcaptcha > div {
  margin: 0 auto;
}
/* Home page slider - END */

/*Header background color*/

.dark .fancy-title h1, .dark .fancy-title h2, .dark .fancy-title h3, .dark .fancy-title h4, .dark .fancy-title h5, .dark .fancy-title h6 {
  background: transparent;
}

#wallet .col-lg-3 {
  border-left: 1px solid white;
}

#wallet .flash-paper-wallet-btn {
  margin-left: 50px;
}

#about .fancy-title h1 {
  font-size: 32px;
}

#about .topmargin-lg {
  padding-top: 15px;
}
#about .col-lg-4 {
  padding: 0px !important;
  text-align: center;
}
#about .inner-section {
  padding: 40px 34px 0px;
  height: 422px;
  width: 422px;
  border: 2px solid #E0AE27;
  border-radius: 50%;
  text-align: center;
  display: inline-grid !important;
  cursor: pointer;
}
#about .inner-section:hover {
  background-color: #E0AE27;
}
#about .inner-section:hover * {
  color: #0A0A0A;
}
#about .inner-section h2 {
  margin: 0;
}
#about .col-lg-4 h4 {
  font-size: 16.5px;
  font-weight: normal;
}
#about .inner-section.second-child h4, #about .inner-section.last-child h4 {
  font-size: 19px;
}

/*ul.icon-social {display: inline;}
ul.icon-social li {display: inline;}
ul.icon-social .fab, .svg-inline--fa {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 4.5em;
	margin: 1em;
}*/

ul.icon-social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333333;*/
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

ul.icon-social li {
  float: left;
}

ul.icon-social li a {
  display: block;
  color: #E0AE27;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 4.5em;
}

ul.icon-social li a span {
  display: block;
  font-size: 0.2em;
}

ul.icon-social li a:hover {
  color: #DA8B22;
}

footer ul.icon-social li a {
  font-size: 1.5em;
  padding: 8px;
}

#feature-flash a {
  text-align: center;
}

#feature-flash a span {
  margin-top: 20px;
  display: block;
}

.dark .form-control:not(.not-dark)[readonly] {
  background-color: rgba(255, 255, 255, 0);
}

.dark .form-control:not(.not-dark) {
  border-color: rgba(0, 0, 0, 0);
}


/*.entry:hover {background-color: rgba(255, 255, 255, 0.08);}*/

.entry ul {
  list-style-type: none;
}

.entry {
  padding: 20px !important;
  background-color: rgba(255, 255, 255, 0.02);
  -o-transition: color .2s ease-out, background 3s ease-in;
  -ms-transition: color .2s ease-out, background 3s ease-in;
  -moz-transition: color .2s ease-out, background 3s ease-in;
  -webkit-transition: color .2s ease-out, background 3s ease-in;
  /* ...and now override with proper CSS property */
  transition: color .2s ease-out, background .3s ease-in;
}

.entry:hover {
  background: rgba(255, 255, 255, 0.08)
}

.entry.entry-date-section:hover {
  background: transparent !important;
}

.fancy-title h2 {
  padding-right: 0;
}

.post-timeline .entry {
  padding-right: 20px !important;
}

a.button.button-rounded.button-reveal.button-large.button-yellow.button-light.tright {
  color: #fff;
}

.anchor {
  padding-top: 100px;
}


/*team*/

.team img {
  display: block;
  margin: 50px auto;
  border-radius: 100%;
  -webkit-transition: all .3s ease;
}

.team img:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
}

.team-overlay:before {
  background: none;
}

.team-social-icons {
  padding-top: 90%;
}

.col-lg-7 a {
  margin-left: 0;
}


/*.fancy-title {margin-top:30px;margin-bottom:0;}*/


/*#header-wrap {background:transparent !important;}*/

#logo {
  display: none;
}

#primary-menu ul>li.hide-this {
  display: none;
}

.fancy-title.title-border.title-center h1 span, .fancy-title.title-border.title-center h2 span, .dark .fancy-title h1, .dark .fancy-title h2, .dark .fancy-title h3, .dark .fancy-title h4, .dark .fancy-title h5, .dark .fancy-title h6 {
  background: #000 !important;
}

.fancy-title {
  margin: 30px 0 10px 0;
}

#slider .col-lg-5 {
  padding-left: 60px;
}

.zl-tweet-area p {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .about-flash-section .container , .kpi-section .container { max-width: 1400px; }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #about .inner-section {
    padding: 50px 50px 0px;
    height: 346px;
    width: 346px;
  }
  #about .inner-section h4 {
    font-size: 13px;
  }
  #about .inner-section.second-child h4, #about .inner-section.last-child h4 {
    font-size: 15px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  #about .inner-section {
    padding: 40px 40px 0px;
    height: 297px;
    width: 297px;
  }
  #about .inner-section h2 {
    font-size: 23px;
  }
  #about .inner-section h4 {
    font-size: 11.3px;
  }
  #about .inner-section.second-child h4, #about .inner-section.last-child h4 {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  a.button {
    white-space: normal;
    height: auto !important;
    text-align: center;
  }
  #about {
    padding-top: 0 !important;
  }
  .vertical-middle {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  .topmargin-lg {
    margin-top: 0 !important;
  }
  .fancy-title {
    margin: 20px 0;
  }
  .heading-block {
    margin: 40px 0 0 0;
    padding: 0 0 25px 0
  }
  .about-flash-section .container , .kpi-section .container {
    padding: 40px 0 !important;
  }
  #slider, #about {
    overflow: auto !important;
    padding: 0px 20px;
  }
  #about {
    height: 100% !important;
  }
  #slider .col-lg-5 {
    padding-left: 0;
  }
  #news .col-sm-1 {
    display: none;
  }
  #select-language-container {
    padding: 22px 0 !important;
  }

  #wallet .flash-paper-wallet-btn {
    margin: 30px 0;
  }

  /*#primary-menu-trigger {right:0 !important;left: auto !important;}
    #header-wrap {display: none;}*/
}

@media (max-width: 414px) {
  #wallet .col-lg-3 {
    border-left: 0;
    width: 180px;
  }
  .col-padding {
    padding: 20px 60px;
  }
  #footer .footer-widgets-wrap {
    padding: 20px 0;
  }
  #team .col-md-4.col-sm-4 {
    width: 98px;
  }
  .fancy-title {
    margin-bottom: 30px;
  }
  .primary-menu ul li.hide-this, #logo.hide-this {
    display: block !important;
  }
}

/*date:10-4-2018*/

.team-advisors img {
  width: 80%;
}

.partners img {
  border-radius: unset;
  margin: auto;
}

#partners span {
  font-style: normal;
}
#team span {
  font-style: normal;
}
#team span a{
  color: white;
}
.fab { font-size: 18px !important; }
#partners ul {
  width:100%;
}
.partners-title {
  color: #E0AE27;
  margin-top: 15px;
}
.img-padding
{
  padding: 0em 0em 2em 0em;
}
.play-store-btn, .app-store-btn
{
  background-color: unset !important;
  display: block;
  padding-left: 60px;
}
.play-store-btn:hover
{
  background-color: unset !important;
}
.get-web-wallet-btn
{
  z-index: 299;
  position: fixed;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  top: auto;
  right: auto;
  left: 0px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 2px;
}
.get-web-wallet-btn a
{
  text-transform: unset;
  letter-spacing: 0px;
  font-size: 15px;
}
#gotoTop
{
  background-color: #E0AE27;
}

.video_row
{ clear: both;
  margin-bottom: 70px;
}
.circle {
  position: relative;
  margin: 20px;
  height: 120px;
  width: 120px;
  background-color: orange;
  border-radius: 50%;
}

.circle:before {
  position: absolute;
content: '';
height: calc(100% + 10px);
width: calc(100% + 25px);
border: 2px dashed #E0AE27;
top: -2px;
left: -8px;
border-radius: inherit;
animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
.zl-mobile
{
  display: none;
}
.zl-desktop
{
  display: block;
}
@media (max-width: 768px) {
  .zl-mobile
  {
    display: block;
  }
  .zl-desktop
  {
    display: none;
  }
  .textcenter-sm {
    text-align: center;
  }
  .team img {
    margin: 10px auto !important;
  }
  .team .team-title {
    padding-top: 5px;
  }
  #team .col-md-4 {
    width: 100% !important;
  }
  .download-link {
    word-wrap: break-word;
  }
  #about .inner-section {
    padding: 46px 46px 0px;
    height: 365px;
    width: 365px;
  }
  #about .inner-section h4 {
    font-size: 14px;
  }
  #about .inner-section.second-child h4, #about .inner-section.last-child h4 {
    font-size: 16.7px;
  }
}
@media (max-width: 420px) {
  #about .inner-section {
    padding: 30px 30px 0px;
    height: 265px;
    width: 265px;
  }
  #about .inner-section h2 {
    font-size: 21px;
  }
  #about .inner-section h4 {
    font-size: 10px;
  }
  #about .inner-section.second-child h4, #about .inner-section.last-child h4 {
    font-size: 12px;
  }
}  
.embed-responsive-4by3::before {
  padding-top: 0 !important;
}
@media (max-width: 500px) {
  /*#flash-snapshot p{
    font-size: 3.2vw;
  }*/
  #flash-snapshot h2{
    font-size: 4.6vw;
  }
}


.login-form .flash-login-control {
  padding-bottom: 10px;
}

.create-an-account {
  padding-top: 20px;
}

.p1-line {
  font-size: 19px;
  margin: 0px;
}

.signup-header {
  font-size: 32px;
  margin-bottom: 10px;
}

.sign-up-frm {
  margin-top: 5px;
}

.select-language, .select-language option {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  font-weight: 700;
}

#select-language-container {
   display: inline;
   float: right;
   padding: 39px 0;
}

#social-forum {
  border-top: 1px solid rgba(255,255,255,0.15);
}