<verify-phone>
    <div class="modal fade" id="verify-phone-body" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Phone Number Verification</h4>
                </div>
                <div show={showForm} class="modal-body">
                    <form class="form-inline" role="form" on-submit="verify-code">
                        <virtual show={showPhoneNumber}>
                            <div class="form-group">
                                <label class="control-label text-left" for="phone_number">Please enter your mobile phone number and click Send Code</label>
                                <div class="text-left">
                                    <input class="form-control" on-keydown="keydown" type="tel" name="phone_number" id="phone_number" />
                                    <button type="button" class="btn btn-warning" on-click="resend-code">Send Code</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="text-muted">
                                    Didn't get the code? Sometimes it can take up to 15 minutes.<br/> If it takes longer
                                    than that please click <a on-click="resend-code"><strong>here</strong></a> to resend
                                    a code to your mobile phone.
                                </p>
                            </div>
                        </virtual>
                        <div class="form-group">
                            <label class="control-label" for="Code">
                        Please enter the code in the SMS message that we just sent you:
                    </label>
                        </div>
                        <div  style="margin:10px 0">
                            <div class="form-group">
                                <input on-blur="hideMess" on-keydown="keydown" class="form-control" name="Code" id="code-input" placeholder="Enter the code here"
                                    type="text">
                            </div>
                            <div class="form-group send_function">
                                <button type="button" class="btn btn-info" onclick={verifyCode}>Verify Now</button>
                            </div>
                            <div show={errorMessage} class="pin-incorrteect">{errorMessage}</div>
                        </div>
                        <div show={!showPhoneNumber} class="form-group text-left">
                            <p class="text-muted">
                                Didn't get the code? Sometimes it can take up to 15 minutes. If it takes longer than that please click
                                <a onclick={resendCode} data-dismiss="modal"><strong>here</strong></a> to resend a code to
                                your mobile phone
                            </p>
                        </div>
                        <br/>
                    </form>
                </div>
                <div show={requestProcessing} class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-12 control-label">We are verifying your phone number...</label>
                    </div>
                </div>
                <virtual show={requestSuccess}>
                    <div class="modal-body">
                        <div class="form-group"><label class="col-sm-12 control-label">Your phone number has been verified!</label></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </virtual>
            </div>
        </div>
    </div>
</verify-phone>