<twofa-verification-dialog>
	<div class="modal fade" id="verifyPinDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><strong>{getText('common_ask_verivication_title')}</strong></h4>
					<div>
						<img src="assets/images/pages/img-barcode.png">
						<p><strong>{getText('common_ask_verivication')}</strong></p>
					</div>
				</div>
				<div class="modal-body">
					<div class="" style="margin-bottom:5px;">
						<input id="google-code" class="form-control" placeholder='Enter verification code' on-enter="onValidatePin" onfocus={onFocus}>
						<div show={isIncorrectPasscode} class="pin-incorrect">
							<strong>{getText('common_label_error_title')} </strong>{getText('common_incorrect_tfacode_error')}
						</div>
					</div>
					<div class="col-xs-12"><button type="button" class="col-xs-12 btn btn-primary" style="padding: 6px 12px;" onclick={onVerify}>{getText('common_label_verify')}</button></div>
				</div>
			</div>
		</div>
	</div>
</twofa-verification-dialog>